.Patcher-Temp/* 
*/__pycache__/*
*/__init__.py

.pytest_cache/*

build/*.py
build/antlr/*
build/antlr_source
build/compile/*
build/inject/*
build/parse/*
build/util/*

src/antlr/.antlr/*
src/antlr_source/.antlr/*
src/antlr_source/*.g4
src/antlr_source/*.py
src/antlr_source/*.interp
src/antlr_source/*.tokens

test/__pycache__/*
test/__init__.py
test/compile/__pycache__/*
test/compile/__init__.py

flash-patcher.zip