# Build files
build/*
dist/
!build/Makefile
!build/pyproject.toml
__pycache__/
__init__.py

# ANTLR files
.antlr/
flash_patcher/antlr_source/*
!flash_patcher/antlr_source/.gitkeep

# Test files
.coverage
.pytest_cache/

# Misc files and folders
.Patcher-Temp/
.vscode/
venv/
TODO.md
antlr-*-complete.jar