# Build files
.Patcher-Temp/

build/
!build/Makefile
__pycache__/
__init__.py

# ANTLR files
.antlr/
src/antlr_source/
!src/antlr_source/.gitkeep

# Test files
.coverage
.pytest_cache/

# Misc files and folders
flash-patcher.zip